<a routerLink="/home" class="icon-volver"><i class="fas fa-arrow-left"></i></a>
<div class="container mt-2 mb-4">
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="./assets/Profesores/perfil.png" class="img-fluid" alt="profesor">
        </div>
        <div class="col-md-6">
            <h2>Nombre del docente</h2>
            <br>
            <p><strong>Cargo: </strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, perferendis?</p>
            <p><strong>Descripción: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non blanditiis, provident tempore laudantium labore tenetur eaque explicabo magni. Quo vel facere excepturi minus dolores, voluptates sequi eaque! Fuga maiores in perferendis delectus. Sint dicta quia, perspiciatis atque asperiores</p>
            <p><strong>Área de enfoque: </strong><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis exercitationem similique odio esse animi in id pariatur porro voluptas iste voluptatum hic aliquid ex, nemo neque dolorem. Eius culpa reiciendis saepe facere nesciunt.</p>
        </div>
    </div>
    <div class="m-4">
        <p class="d-inline-flex">
            <button class="btn btn-info float-end" type="button">
                Enlace a Drive
            </button>
        </p>
    </div>
</div>