<a routerLink="/home" class="icon-volver"><i class="fas fa-arrow-left"></i></a>
<div class="container mt-2 mb-4">
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="./assets/Profesores/DraMagaly.png" class="img-fluid" alt="profesor">
        </div>
        <div class="col-md-6">
            <h2>Dra. Magaly Hernández Aragón</h2>
            <br>
            <p><strong>Cargo: </strong></p>
            <p><strong>Descripción: </strong><br>Profesora Investigadora de Tiempo Completo adscrita al Instituto 
                de Ciencias de la Educación de la Universidad Autónoma “Benito Juárez” de Oaxaca, México (ICEUABJO). 
                Miembro del Sistema Nacional de Investigadoras e investigadores del Conahcyt, Nivel 1. Perfil 
                Deseable del Programa para el Desarrollo Profesional Docente (PRODEP). <br><br>

                Doctora en Investigación e Innovación Educativa por la Benemérita Universidad Autónoma de Puebla 
                (BUAP), Maestra en Educación, Campo formación docente y Licenciada en Ciencias de la Educación, 
                ambos grados obtenidos en el ICEUABJO.<br><br>
                
                Integrante del grupo de investigación “Procesos, actores y miradas alternativas en el estudio 
                de lo educativo”. Cultiva la línea de investigación “Procesos formativos, actores educativos, 
                currículum, investigación y miradas alternativas en el estudio de lo educativo” </p>
            <p><strong>Capítulos de libros: </strong><br>Hernández Aragón, M. (2023). La formación inicial del 
                profesorado normalista entre lo reproductivo y transformativo. En Peña Estrada, C.; Carranza 
                Alcántar, M.R.; Ruiz Sánchez, R. (Coords.). Enfoques innovadores en el proceso de 
                enseñanza-aprendizaje en las universidades hispanohablantes (pp. 446-451). Madrid: Ed. Dykinson, 
                S.L. <br><br>

                Hernández Aragón, M.; Ocampo Tallavas, M.I; Druet Domínguez, N. V. y Aguilar Vargas, L.R. (2022). 
                La docencia como condición humana y social ante la pandemia por Covid-19. En M. Trujillo Méndez y 
                E. Flores Flores (Coords.). Oportunidades para la praxis docente en tiempos de pandemia (pp. 34-48). 
                Ed. UVM. </p>
                <p><strong>Artículos publicados: </strong><br>Hernández Aragón, M., González Miguel, O., y Silva 
                    Carmona, L. (2024). La construcción del ser estudiante universitario desde las experiencias 
                    socioemocionales. IE Revista De Investigación Educativa De La REDIECH, 15, e2162. 
                    <a href="https://doi.org/10.33010/ie_rie_rediech.v15i0.2162">https://doi.org/10.33010/ie_rie_rediech.v15i0.2162</a> <br><br>
                    
                    Hernández Aragón, M. (2024). Escuelas normales y formación inicial: una trama social, 
                    histórica y compleja. Alternancia - Revista de Educación e Investigación, 6(11), 123-134. 
                    <a href="https://doi.org/10.37260/alternancia.v6n11.9">https://doi.org/10.37260/alternancia.v6n11.9</a> <br><br>
                    
                    Hernández Aragón, M. (2024). La práctica profesional en la formación normalista: un acercamiento 
                    a las concepciones construidas por el personal formador de docentes. Diálogos sobre educación. 
                    Temas actuales en investigación educativa, 30(16), <a href="https://doi.org/10.32870/dse.v0i30.1424">https://doi.org/10.32870/dse.v0i30.1424</a> <br><br>
                    
                    Hernández Aragón, M. (2023). El trabajo docente desde los constructos de los formadores 
                    normalistas en el Estado de Oaxaca, México. Praxis & Saber, 14(37), e15645. 
                    <a href="https://doi.org/10.19053/22160159.v14.n37.2023.15645">https://doi.org/10.19053/22160159.v14.n37.2023.15645</a><br><br>
                    
                    Hernández Aragón, M., Libreros Galicia, E. D. y Ocampo Tallavas, M. I. (2023). La formación 
                    docente desde las expresiones autoetnográficas de los formadores normalistas. Praxis Educativa, 
                    27(1), 1-16. <a href="https://doi.org/10.19137/praxiseducativa-2023-270107">https://doi.org/10.19137/praxiseducativa-2023-270107</a> <br><br>
                    
                    Hernández Aragón, M. (2023). Configuraciones formativas de los formadores desde sus constructos 
                    personales: retos, procesos y experiencias. Saberes y prácticas. Revista de Filosofía y Educación, 
                    8(1), 1-19. <a href="https://doi.org/10.48162/rev.36.089">https://doi.org/10.48162/rev.36.089</a> </p>
        </div>
    </div>
    <div class="m-4">
        <p class="d-inline-flex">
            <button class="btn btn-info float-end" type="button">
                Enlace a Drive
            </button>
        </p>
    </div>
</div>