<a routerLink="/home" class="icon-volver"><i class="fas fa-arrow-left"></i></a>
<div class="container mt-2 mb-4">
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="./assets/Profesores/DraMarta.png" class="img-fluid" alt="profesor">
        </div>
        <div class="col-md-6">
            <h2>Dra. Marta Elba Paz López</h2>
            <br>
            <p><strong>Cargo: </strong><br>Investigadora Titula “B” de tiempo completo en el 
                Instituto de Ciencias de la Educación de la UABJO. Doctora en Ciencias de la Educación 
                por el Instituto de Ciencias de la Educación de la UABJO y maestría en Educación campo 
                Orientación Educativa y Maestría en Psicoanálisis.</p>
            <p><strong>Descripción: </strong><br>Sus líneas de investigación son currículum e identidades 
                universitarias entre sus principales producciones están los libros: El profesorado universitario 
                Una intrincada historia en la Universidad Autónoma Benito Juárez de Oaxaca. 
                Devenir político y Modelo Académico en la UABJO (1955-2012).</p>
            <p><strong>Área de enfoque: </strong><br>Ha publicado artículos como Currículum, poder médico y enfermería 
                en el Instituto de Ciencias y Artes del Estado de Oaxaca; La tesis d Licenciatura en Ciencias de 
                la Educación: una interpretación desde el Tiempo sin Aroma; Las 10 primeras rectoras en 
                Universidades públicas autónomas, y capítulos de libros: La identidad de una profesión feminizada. 
                El caso de la primera escuela de Enfermería en México; La Gestión del Currículum en la UABJO: 
                La utopía necesaria. Es integrante del Cuerpo Académico Consolidado Educación y Construcción del 
                Conocimiento. Ha impartido cursos de educación media y superior y de posgrado: en el ICEUABJO, 
                Universidad La Salle y Universidad Nacionalista México. Cofundadora de los Foros de Avances de 
                Proyectos de Tesis de Licenciatura en el ICEUABJO y Coordinadora de Investigación en el mismo 
                Instituto. </p>
        </div>
    </div>
    <div class="m-4">
        <p class="d-inline-flex">
            <button class="btn btn-info float-end" type="button">
                Enlace a Drive
            </button>
        </p>
    </div>
</div>